.about-one {
  padding: 162px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(../images/image-abuot.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  position: relative;

  &__content {
    max-width: 455px;
  }

  &__title {
    @extend .title-h2;
    @extend .text-bold;
  }

  &__text {
    @extend .title-h5;
    margin: 31px 0;
  }

  &__links-wrap {
    display: flex;
    flex-direction: row;
  }

  a {
    @extend .link-btn;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    transition: all 0.3s ease;
    i {
      color: $primary;
    }
    &:hover {
      color: $black;
    }
  }

  &__link {
    @extend .link-sm;
    @extend .text-bold;
    line-height: $height-link-sm-abuot;
    &:nth-child(1) {
      margin-right: 32px;
    }
  }

  &__badge {
    padding: 8px 16px 8px 8px;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    bottom: 48px;
    right: 64px;
  }

  &__badge-title {
    @extend .title-body;
  }

  &__badge-text {
    @extend .copyright;
    color: $black;
  }

  &__icon-wrap {
    i {
      font-size: 72px;
      color: $primary;
    }
  }
}
