.abuot-one {
  padding: 100px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &__title {
    @extend .title-h2;
    @extend .text-bold;
  }

  &__text {
    @extend .title-h5;
    max-width: 455px;
    margin: 31px 0;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    @extend .link-sm;
    @extend .link-btn;
    margin-right: 32px;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  a {
    margin-bottom: 0;
    i {
      color: $primary;
    }
  }

  &__badge {
    padding: 8px 16px 8px 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    position: absolute;
    right: 68px;
    bottom: 48px;
  }

  &__badge-title {
    @extend .title-body;
  }

  &__badge-text {
    @extend .title-small;
  }

  &__icon-wrap {
    width: 72px;
    height: 72px;
    margin-right: 8px;
    i {
      font-size: 72px;
      color: $primary;
    }
  }
  .img-wrap {
    position: absolute;
    right: 0;
    height: 100%;
    img {
      height: 100%;
      max-width: 735px;
    }
  }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .abuot-one {
    .img-wrap {
      display: none;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      text-align: center;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .abuot-one {
    &__links {
      display: flex;
      flex-direction: column;
    }

    &__link {
      margin-right: 0;
    }
  }
}
