@import "_vars";

.action-one {
  padding: 100px 0 100px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  .additional-title {
    @extend .title-h4;
    @extend .text-medium;
    margin-bottom: 16px;
  }

  &__action-title {
    @extend .title-h1;
    @extend .text-bold;
  }

  &__action-text {
    @extend .title-h5;
    margin: 24px 0;
  }

  &__btn-action {
    @extend .btn-xl;
    @extend .btn-border-primary;
    padding: 0 43px;
    line-height: 76px;
  }

  &__content-wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  &__content {
    width: 100%;
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

///////////////////////////////////////////////

.action-two {
  padding: 100px 0 100px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &__content {
    max-width: 475px;
  }

  &__title {
    @extend .title-h1;
    @extend .text-bold;
    margin-bottom: 25px;
    line-height: 60px;
  }

  &__text {
    @extend .title-h5;
    margin-bottom: 60px;
  }

  &__btn {
    @extend .btn-subscribe-action;
    margin-bottom: 23px;
  }

  .primary-text {
    color: $primary;
  }

  &__img-wrap {
    width: 705px;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url(../images/image-action-two.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .action-one {
    &__action-title {
      font-size: 70px;
    }
  }

  .action-two {
    &__img-wrap {
      width: 100%;
      left: 0;
      opacity: 0.2;
      background-position: center;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .action-one {
    .additional-title {
      font-size: 28px;
    }
    &__action-title {
      font-size: 50px;
    }
    &__action-text {
      font-size: 21px;
    }
    &__img-wrap {
      align-items: center;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .action-one {
    &__content-wrap {
      display: inline-block;
    }
    &__img-wrap {
      display: none;
    }
    .additional-title {
      font-size: 28px;
      margin-bottom: 12px;
    }
    &__action-title {
      font-size: 45px;
    }
    &__action-text {
      font-size: 19px;
    }
  }

  .action-two {
    &__title {
      font-size: 45px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .action-one {
    .additional-title {
      font-size: 24px;
    }
    &__action-title {
      font-size: 30px;
    }
    &__action-text {
      font-size: 18px;
      margin: 22px 0;
    }
  }

  .action-two {
    &__title {
      font-size: 55px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .action-one {
    &__action-title {
      font-size: 40px;
    }
    &__action-text {
      margin: 18px 0;
    }
  }
}
