@import "_vars";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title-h1 {
  font: $font-h1;
  letter-spacing: -1.78px;
  color: $black;

  @media only screen and (max-width: 992px) {
    font: $font-h1-md;
  }
  @media only screen and (max-width: 480px) {
    font: $font-h1-sm;
  }
  @media only screen and (max-width: 320px) {
    font: $font-h1-xs;
  }
}
.title-h2 {
  font: $font-h2;
  letter-spacing: -1.34px;
  color: $black;
}
.title-h3 {
  font: $font-h3;
  letter-spacing: -0.89px;
  color: $black;
}
.title-h4 {
  font: $font-h4;
  letter-spacing: -0.64px;
  color: $black;
}
.title-h5 {
  font: $font-h5;
  letter-spacing: -0.47px;
  color: $black;
  @media only screen and (max-width: 992px) {
    font: $font-h5-md;
  }
  @media only screen and (max-width: 480px) {
    font: $font-h5-sm;
  }
  @media only screen and (max-width: 320px) {
    font: $font-h5-xs;
  }
}
.title-h6 {
  font: $font-h6;
  letter-spacing: -0.33px;
  color: $black;
}

.title-404 {
  font: $font-404;
  letter-spacing: -3.56px;
  color: $black;
}

.title-vertical-menu {
  font: $font-vertical-menu;
  letter-spacing: -0.33px;
  color: $black;
}
.title-caption {
  font: $font-caption;
  letter-spacing: -0.09px;
  color: $black;
}
.title-small {
  font: $font-small;
  letter-spacing: 0.01px;
  color: $black;
}
.title-tiny {
  font: $font-tiny;
  letter-spacing: 0.1px;
  color: $black;
}
.menu-item {
  font: $font-body;
  letter-spacing: -0.18px;
  color: $black;
}

.text-bold {
  font-weight: $bold;
}

.text-medium {
  font-weight: $medium;
}

.additional-text {
  font: $font-additional-text;
}

// button

button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0 !important;
}

.btn-xs {
  padding: 0 13px;
  font: $font-btn-extra-small;
  letter-spacing: -0.26px;
}
.btn-sm {
  font: $font-btn-small;
  padding: 0 18px;
  letter-spacing: -0.34px;
}
.btn-md {
  font: $font-btn-medium;
  padding: 0 27px;
  letter-spacing: -0.51px;
}
.btn-lg {
  font: $font-btn-large;
  padding: 0 35px;
  letter-spacing: -0.68px;
}
.btn-xl {
  font: $font-btn-extra-large;
  padding: 5px 45px;
  letter-spacing: -0.85px;
}

.btn-404 {
  padding: 9px 35px;
  font: $font-btn-404;
  letter-spacing: -0.68px;
}

.menu-btn {
  font: $font-btn-vertical-menu;
  padding: 0 16px;
  letter-spacing: -0.09px;
  border: 1px solid $gray;
  box-sizing: border-box;
  color: $gray;
}

.btn-subscribe {
  font: $font-btn-subscribe;
  padding: 0 112px;
  letter-spacing: -0.68px;
  border: $border-width-btn solid $black;
}

.btn {
  background-color: $white;
  color: $black;
}

.btn-white {
  color: $white;
  border: $border-width-btn solid $white;
  box-sizing: border-box;
}

.btn-black {
  color: $white;
  background-color: $black;
}

.btn-primary {
  color: $white;
  background-color: $primary;
}

.btn-secondary {
  background-color: $secondary;
}

.btn-border-black {
  border: $border-width-btn solid $black;
  box-sizing: border-box;
}

.btn-border-primary {
  border: $border-width-btn solid $primary;
  box-sizing: border-box;
  color: $primary;
}

.btn-border-secondary {
  border: $border-width-btn solid $secondary;
  box-sizing: border-box;
  color: $secondary;
}

a.link-btn {
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &:hover {
    text-decoration: none;
  }
  i {
    color: $black;
  }
}

.link-xs {
  font: $font-btn-extra-small;
  height: $height-link-xs;
  i {
    margin-left: 2px;
    font-size: 16px;
  }
}

.link-sm {
  font: $font-btn-small;
  height: $height-link-sm;
  i {
    margin-left: 4px;
    font-size: 24px;
  }
}

.link-md {
  font: $font-btn-medium;
  height: $height-link-md;
  i {
    margin-left: 8px;
    font-size: 32px;
  }
}
.link-lg {
  font: $font-btn-large;
  height: $height-link-lg;
  i {
    margin-left: 8px;
    font-size: 40px;
  }
}
.link-xl {
  font: $font-btn-extra-large;
  height: $height-link-xl;
  i {
    margin-left: 8px;
    font-size: 48px;
  }
}

.avatar-sm {
  width: $width-avatar-sm;
  height: $height-avatar-sm;
}

.avatar-md {
  width: $width-avatar-md;
  height: $height-avatar-md;
}

.avatar-lg {
  width: $width-avatar-lg;
  height: $height-avatar-lg;
}
