@import "_vars";

body {
  font: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  &__h1 {
    font: $font-h1;
    letter-spacing: -1.78px;
    color: $black;
  }
  &__h2 {
    font: $font-h2;
    letter-spacing: -1.34px;
    color: $black;
  }
  &__h3 {
    font: $font-h3;
    letter-spacing: -0.89px;
    color: $black;
  }
  &__h4 {
    font: $font-h4;
    letter-spacing: -0.64px;
    color: $black;
  }
  &__h5 {
    font: $font-h5;
    letter-spacing: -0.47px;
    color: $black;
  }
  &__h6 {
    font: $font-h6;
    letter-spacing: -0.33px;
    color: $black;
  }
  &__caption {
    font: $font-caption;
    letter-spacing: -0.09px;
    color: $black;
  }
  &__small {
    font: $font-small;
    letter-spacing: 0.01px;
    color: $black;
  }
  &__tiny {
    font: $font-tiny;
    letter-spacing: 0.1px;
    color: $black;
  }
}
.text-bold {
  font-weight: $bold;
}

.text-medium {
  font-weight: $medium;
}

// button

.btn {
  color: $black;

  &__xs {
    padding: 0 13px;
    font: $btn-24px;
    letter-spacing: -0.26px;
  }
  &__sm {
    font: $btn-32px;
    padding: 0 18px;
    letter-spacing: -0.34px;
  }
  &__md {
    font: $btn-48px;
    padding: 0 27px;
    letter-spacing: -0.51px;
  }
  &__lg {
    font: $btn-64px;
    padding: 0 35px;
    letter-spacing: -0.68px;
  }
  &__xl {
    font: $btn-80px;
    padding: 0 45px;
    letter-spacing: -0.85px;
  }
  &__subscribe {
    font: $btn-subscribe;
    padding: 0 112px;
    letter-spacing: -0.68px;
    border: 2px solid #3d3d3d;
  }
}

.bg-black {
  color: #fff;
  background-color: $black;
}

.bg-primary {
  color: #fff;
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.br-black {
  border: 2px solid $black;
  box-sizing: border-box;
  line-height: 20px;
}

.br-primary {
  border: 2px solid #ff7171;
  box-sizing: border-box;
  color: $primary;
  line-height: 20px;
}

.br-secondary {
  border: 2px solid #fff0ae;
  box-sizing: border-box;
  color: $secondary;
  line-height: 20px;
}
