@import "_vars";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title-h1 {
  font: $font-h1;
  letter-spacing: -1.78px;
  color: $black;

  @media only screen and (max-width: 992px) {
    font: $font-h1-md;
  }
  @media only screen and (max-width: 480px) {
    font: $font-h1-sm;
  }
  @media only screen and (max-width: 320px) {
    font: $font-h1-xs;
  }
}
.title-h2 {
  font: $font-h2;
  letter-spacing: -1.34px;
  color: $black;
}
.title-h3 {
  font: $font-h3;
  letter-spacing: -0.89px;
  color: $black;
}
.title-h4 {
  font: $font-h4;
  letter-spacing: -0.64px;
  color: $black;
}
.title-h5 {
  font: $font-h5;
  letter-spacing: -0.47px;
  color: $black;
  @media only screen and (max-width: 992px) {
    font: $font-h5-md;
  }
  @media only screen and (max-width: 480px) {
    font: $font-h5-sm;
  }
  @media only screen and (max-width: 320px) {
    font: $font-h5-xs;
  }
}
.title-h6 {
  font: $font-h6;
  letter-spacing: -0.33px;
  color: $black;
}

.title-404 {
  font: $font-404;
  letter-spacing: -3.56px;
  color: $black;
}

.title-vertical-menu {
  font: $font-vertical-menu;
  letter-spacing: -0.33px;
  color: $black;
}
.title-body {
  font: $font-body;
  letter-spacing: -0.18px;
  color: $black;
}
.copyright {
  font: $font-copyright;
  letter-spacing: 0.01px;
  color: $gray;
}
.title-caption {
  font: $font-caption;
  letter-spacing: -0.09px;
  color: $black;
}
.title-small {
  font: $font-small;
  letter-spacing: 0.01px;
  color: $black;
}
.title-tiny {
  font: $font-tiny;
  letter-spacing: 0.1px;
  color: $black;
}
.menu-item {
  font: $font-body;
  letter-spacing: -0.18px;
  color: $black;
}

.text-bold {
  font-weight: $bold;
}

.text-medium {
  font-weight: $medium;
}

.additional-text {
  font: $font-additional-text;
}

// button

button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0 !important;
}

.btn-xs {
  padding: 0 13px;
  font: $font-btn-extra-small;
  letter-spacing: -0.26px;
}
.btn-sm {
  font: $font-btn-small;
  padding: 0 18px;
  letter-spacing: -0.34px;
}
.btn-md {
  font: $font-btn-medium;
  padding: 0 27px;
  letter-spacing: -0.51px;
}
.btn-lg {
  font: $font-btn-large;
  padding: 0 35px;
  letter-spacing: -0.68px;
}
.btn-xl {
  font: $font-btn-extra-large;
  padding: 5px 45px;
  letter-spacing: -0.85px;
}

.btn-404 {
  padding: 9px 35px;
  font: $font-btn-404;
  letter-spacing: -0.68px;
}

.menu-btn {
  font: $font-btn-vertical-menu;
  padding: 0 16px;
  letter-spacing: -0.09px;
  border: 1px solid $gray;
  box-sizing: border-box;
  color: $gray;
}

.btn-subscribe {
  font: $font-btn-subscribe;
  padding: 0 112px;
  letter-spacing: -0.68px;
  border: $border-width-btn solid $black;
  transition: all 0.3s ease;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}

.btn-subscribe-action {
  font: $font-btn-subscribe-action;
  padding: 0 44px;
  letter-spacing: -0.85px;
  border: $border-width-btn solid $black;
}

.btn {
  background-color: $white;
  color: $black;
}

.btn-white {
  color: $white;
  border: $border-width-btn solid $white;
  box-sizing: border-box;
}

.btn-black {
  color: $white;
  background-color: $black;
}

.btn-primary {
  color: $white;
  background-color: $primary;
}

.btn-secondary {
  background-color: $secondary;
}

.btn-border-black {
  border: $border-width-btn solid $black;
  box-sizing: border-box;
}

.btn-border-primary {
  border: $border-width-btn solid $primary;
  box-sizing: border-box;
  color: $primary;
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.btn-border-secondary {
  border: $border-width-btn solid $secondary;
  box-sizing: border-box;
  color: $secondary;
}

a.link-btn {
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &:hover {
    text-decoration: none;
  }
  i {
    color: $black;
  }
}

.link-xs {
  font: $font-btn-extra-small;
  height: $height-link-xs;
  i {
    margin-left: 2px;
    font-size: 16px;
  }
}

.link-sm {
  font: $font-btn-small;
  height: $height-link-sm;
  i {
    margin-left: 4px;
    font-size: 24px;
  }
}

.link-md {
  font: $font-btn-medium;
  height: $height-link-md;
  i {
    margin-left: 8px;
    font-size: 32px;
  }
}
.link-lg {
  font: $font-btn-large;
  height: $height-link-lg;
  i {
    margin-left: 8px;
    font-size: 40px;
  }
}
.link-xl {
  font: $font-btn-extra-large;
  height: $height-link-xl;
  i {
    margin-left: 8px;
    font-size: 48px;
  }
}

.avatar-sm {
  width: $width-avatar-sm;
  height: $height-avatar-sm;
}

.avatar-md {
  width: $width-avatar-md;
  height: $height-avatar-md;
}

.avatar-lg {
  width: $width-avatar-lg;
  height: $height-avatar-lg;
}
/////////////checkbox
.checkbox-wrap {
  display: flex;
  align-items: center;
}

.checkbox {
  cursor: pointer;
}

.checkbox-label {
  margin-bottom: 0;
}

.checkbox-label input {
  display: none;
}

.checkbox-label .checkbox {
  width: 32px;
  height: 32px;
  border: 2px solid #3d3d3d;
  box-sizing: border-box;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.checkbox-label input[type="checkbox"]:checked + .checkbox:before {
  content: "\e905";
  font-family: "icomoon";
  font-size: 24px;
}

.conditions {
  @extend .title-body;
}
//////////switch

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 6px;
  margin-bottom: 0;

  input {
    display: none;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  width: 66px;
  height: 27px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-gray;
  transition: 0.4s;

  &:before,
  &:after {
    position: absolute;
    content: "";
    transition: all 0.4s ease;
  }

  &:before {
    height: 40px;
    width: 40px;
    left: -4px;
    bottom: -5px;
    background-color: $primary;
  }

  &:after {
    height: 16px;
    width: 16px;
    top: 5px;
    left: 8px;
    background-color: $white;
  }

  &.round {
    border-radius: 34px;

    &:before,
    &:after {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: $secondary;
}

input:checked + .slider:after {
  background-color: $secondary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $secondary;
}

input:focus + .slider:after {
  box-shadow: 0 0 1px $secondary;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

input:checked + .slider:after {
  transform: translateX(36px);
}
