.contact-one {
  padding: 5.96% 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &__content-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__title {
    @extend .title-h2;
    @extend .text-bold;
  }

  &__information {
    margin: 31px 0 48px;
  }

  &__phone,
  &__link,
  &__social {
    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }

  &__phone,
  &__addres,
  &__link {
    @extend .title-h5;
    display: flex;
    align-items: center;
    i {
      font-size: 56px;
      margin-right: 8px;
    }
  }

  &__addres {
    margin: 24px 0;
  }

  &__phone {
    width: 260px;
  }

  &__link {
    @extend .text-bold;
    color: $black;
    transition: all 0.3s ease;
    width: 238px;
  }

  &__social-link {
    display: flex;
    flex-direction: row;
  }

  &__social {
    width: 64px;
    height: 64px;
    display: flex;
    border: 2px solid #3d3d3d;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: $black;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    i {
      font-size: 45px;
      vertical-align: middle;
    }

    &:nth-child(2) {
      margin: 0 40px;
    }
  }
  &__img-wrap {
    img {
      width: 100%;
    }
  }
}

//////////////////////////////////////

.section-application {
  padding: 100px 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .title-h2 {
    margin-bottom: 54px;
  }

  &__content {
    display: flex;
  }

  &__forms {
    max-width: 504px;
    display: flex;
    flex-direction: column;
    margin-right: 105px;
  }

  &__name,
  &__email {
    padding: 15px 0 12px 70px;

    &::placeholder {
      color: $black;
    }
  }

  &__message,
  &__name,
  &__email {
    border: 2px solid #3d3d3d;
    box-sizing: border-box;
    border-radius: 3px;
    @extend .title-h6;
    @extend .text-medium;
  }

  &__name {
    background-image: url(../images/contact-user.svg);
  }

  &__email {
    background-image: url(../images/contact-email.svg);
  }

  &__name,
  &__email {
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-position: center left 13px;
  }

  &__message {
    max-height: 210px;
    padding: 13px 0 0 21px;
    margin-bottom: 9px;

    &::placeholder {
      color: $black;
    }
  }

  &__btn-send {
    @extend .btn-lg;
    @extend .btn-primary;
    line-height: 46px;
    padding: 9px 209px;
    margin-bottom: 23px;
    transition: all 0.3s ease;

    &:hover {
      background-color: pink;
      color: $gray;
    }

    &:disabled {
      background-color: $gray;
      opacity: 0.7;
      color: $white;
    }
  }

  &__info {
    max-width: 331px;
  }

  &__addres-wrap,
  &__phone-wrap,
  &__hours-wrap {
    margin-bottom: 24px;
    padding-left: 4px;
  }

  &__addres-title,
  &__phone-title,
  &__hours-title {
    @extend .title-caption;
    color: $gray;
    margin-bottom: 4px;
  }

  &__addres,
  &__phone,
  &__hours {
    @extend .title-h5;
  }

  a {
    text-decoration: none;
  }

  &__link {
    @extend .title-h4;
    @extend .text-bold;
    color: $black;
    transition: all 0.3s ease;

    &:hover {
      color: $primary;
    }
  }

  &__icon-wrap {
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
  }

  &__behance,
  &__dribble,
  &__twitter {
    border: 2px solid #3d3d3d;
    box-sizing: border-box;
    border-radius: 73px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 34px;
      color: $black;
    }

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  &__behance,
  &__dribble,
  &__twitter,
  i {
    transition: all 0.3s ease;
  }
}

//////////////////////////////////////
/*==========  Desktop First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .contact-one {
    &__content-wrap {
      justify-content: center;
    }

    &__img-wrap {
      padding-top: 50px;
    }

    &__phone {
      width: 226px;
    }

    &__link {
      width: 208px;
    }
  }

  .section-application {
    .title-h2 {
      text-align: center;
    }

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__forms {
      margin-right: 0;
      margin-bottom: 45px;
    }

    &__info {
      text-align: center;
    }

    &__icon-wrap {
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width: 560px) {
  .section-application {
    &__forms {
      max-width: 100%;
    }

    &__btn-send {
      padding: 9px 109px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .contact-one {
    &__phone {
      width: 201px;
    }

    &__link {
      width: 186px;
    }
  }

  .section-application {
    .title-h2 {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .section-application {
    &__btn-send {
      padding: 9px 70px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .contact-one {
    .title-h2 {
      font-size: 55px;
    }
  }
}
