.features-one {
  padding: 6.3% 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__title-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
  }
  &__title {
    @extend .title-h3;
    @extend .text-bold;
  }
  &__content {
    max-width: 366px;
    background-color: $light-gray;
    padding: 30px;
    display: flex;
    height: 100%;
    border-radius: 12px;
  }
  .card-right {
    margin-right: 15px;
    border-radius: 3px 12px 12px 3px;
  }

  .card-left {
    margin-left: 13px;
    margin-right: 15px;
    border-radius: 12px 3px 3px 12px;
  }

  &__card-content {
    margin-left: 16px;
  }
  &__card-title {
    @extend .title-h5;
    @extend .text-medium;
  }
  &__card-text {
    @extend .title-caption;
    margin: 4px 0;
  }
  .link-sm {
    justify-content: start;
    margin: 0;
    i {
      color: $primary;
    }
  }
  .slick-dots {
    margin: 0;
    padding: 47px 0 0;
    text-align: center;
    font: normal;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 16px 0 27px;
      &:nth-child(2) {
        margin: 0;
      }

      &.slick-active {
        button {
          background-color: $primary;
        }
      }
    }
    button {
      font-size: 0;
      border-radius: 50%;
      border: 2px solid $black;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      display: inline-block;
      padding: 0;
      cursor: pointer;
      background-color: $white;
    }
  }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .features-one {
    &__content {
      padding: 21px;
    }
    .card-right {
      margin-right: 10px;
    }
    .card-left {
      margin-left: 10px;
      margin-right: 5px;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .features-one {
    .slick-dots {
      li {
        margin: 0 10px;
        &:nth-child(2) {
          margin: 0 10px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .features-one {
    &__content {
      padding: 7px;
      margin: 0 auto;
    }
    .card-right,
    .card-left {
      margin: 0 auto;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .features-one {
    &__content {
      max-width: 100%;
    }
    .card-right {
      margin-right: 5px;
    }
    .card-left {
      margin-left: 5px;
      margin-right: 5px;
    }
    &__title {
      font-size: 30px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .features-one {
    &__content {
      padding: 20px;
    }
    .card-right {
      margin-right: 5px;
    }
    .card-left {
      margin-left: 5px;
      margin-right: 5px;
    }
    &__title-wrap {
      margin-bottom: 35px;
    }
    &__title {
      font-size: 25px;
    }
  }
}
