@import "_vars";

.heroes-one {
  background-image: url(../images/illustration-heroes-one.svg);
  background-repeat: no-repeat;
  background-position: right 200px top 238px;
  background-size: auto;
  &__header {
    width: 100%;
    padding: 24px 0;
    display: inline-block;
    margin-bottom: 84px;
  }

  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-links {
    height: 100%;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .menu-item {
    @extend .text-medium;
    margin-right: 49px;
  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__menu-icons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    i {
      font-size: 32px;
    }
  }
  &__menu-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 32px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      display: none;
    }
  }
  a {
    color: $black;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: $primary;
    }
  }
  &__content {
    max-width: 630px;
    padding: 84px 0 276px;
  }
  .heroes-title {
    margin: 22px 0 24px;
  }
  .heroes-text {
    max-width: 564px;
  }

  &__button-wrap {
    margin-top: 24px;
  }

  &__btn-black {
    padding: 0 63px;
    @extend .btn-xl;
    @extend .btn-black;
    margin-right: 48px;
  }
  &__btn-primary {
    @extend .btn-xl;
    @extend .btn-border-primary;
    line-height: 76px;
    padding: 0 42px;
  }
  &__link-content {
    @extend .menu-item;
    display: inline-block;
    margin-top: 25px;
  }
}
.additional-title {
  @extend .title-h4;
  @extend .text-medium;
}
.heroes-title {
  @extend .title-h1;
  @extend .text-bold;
}
.heroes-text {
  @extend .title-h5;
}

@media only screen and (max-width: 1200px) {
  .heroes-one {
    &__menu-links {
      justify-content: center;
    }
    .menu-item {
      margin-right: 35px;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .heroes-one {
    .menu-item {
      display: none;
    }
    &__menu-icons {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    &__menu-icon {
      &:last-child {
        display: inline-block;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .heroes-one {
    &__logo {
      justify-content: center;
    }
    &__menu-icons {
      justify-content: center;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .heroes-one {
    &__menu-links {
      justify-content: center;
    }
    .menu-item {
      margin-right: 15px;
      &:last-child {
        margin: 0;
      }
    }
    &__menu-icons {
      justify-content: center;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .heroes-one {
    &__menu-links {
      justify-content: center;
    }

    &__menu-icons {
      margin: 0;
    }
  }
}
