@import "_vars";

.heroes-one {
  padding: 167px 0 138px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__content {
    max-width: 630px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .title-h1 {
    margin: 22px 0 24px;
  }
  .title-h5 {
    max-width: 564px;
  }

  &__button-wrap {
    margin-top: 24px;
  }

  &__btn-black {
    // padding: 0 63px;
    @extend .btn-xl;
    @extend .btn-black;
    margin-right: 48px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $light-gray;
      color: $black;
    }
  }
  &__btn-primary {
    @extend .btn-xl;
    @extend .btn-border-primary;
    padding: 3px 28px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  &__link-content {
    @extend .menu-item;
    display: inline-block;
    margin-top: 25px;
    color: $black;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      color: $primary;
    }
  }
  &__img {
    position: absolute;
    left: 97%;
    top: -6%;
    margin-left: 35px;
  }
  .title-h4 {
    @extend .text-medium;
  }
  .title-h1 {
    @extend .text-bold;
  }

  a {
    text-decoration: none;
  }
}

////////////////////////////////////////

.heroes-two {
  padding: 92px 0 38px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend .title-h1;
    @extend .text-bold;
    max-width: 613px;
    margin-bottom: 22px;
  }

  &__text {
    @extend .title-h5;
    max-width: 564px;
  }

  &__img-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 126px;
    max-width: 1250px;

    img {
      display: inline-block;
      width: 100%;
    }
  }
}

////////////Media
@media only screen and (max-width: 1340px) {
  .heroes-one {
    .title-h1 {
      font-size: 75px;
    }

    img {
      left: 85%;
    }
  }

  .heroes-two {
    &__img-wrap {
      max-width: 1000px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .heroes-one {
    padding-top: 50px;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__img {
      position: static;
      width: 40%;
      height: 40%;
      margin: 0;
    }
    .her-wrap {
      display: flex;
      justify-content: center;
      margin: 0 0 50px;
    }
  }

  .heroes-two {
    flex-direction: row;
    &__content {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__img-wrap {
      display: none;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .heroes-one {
    .her-wrap {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 780px) {
  .heroes-one {
    .title-h1 {
      font-size: 60px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .heroes-one {
    &__btn-black {
      margin: 0 10px 10px 0;
      padding: 5px 34px;
    }
    &__btn-primary {
      padding: 3px 13px;
    }

    .title-h1 {
      font-size: 40px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .heroes-one {
    .title-h1 {
      font-size: 35px;
    }

    &__btn-black {
      margin: 0 10px 15px 0;
      padding: 5px 30px;
    }
    &__btn-primary {
      padding: 3px 9px;
    }
  }
}
