@import "_vars";

.horizontal-menu-one,
.horizontal-menu-two {
  width: 100%;
  padding: 24px 0;
  display: inline-block;
  background-color: $light-gray;

  &.active {
    padding: 5px 0 5px 0;
  }
}

.horizontal-menu-one {
  position: fixed;
  z-index: 800;
  transition: all 0.3s ease;
  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-links {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .menu-item {
    @extend .text-medium;
    margin-right: 49px;
  }
  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__menu-icons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    i {
      font-size: 32px;
    }
  }
  &__menu-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 32px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      display: none;
    }
  }
  a {
    color: $black;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: $primary;
    }
  }
  &.active {
    padding: 5px 0 5px 0;
  }
}
////////////////////////////

.horizontal-menu-two {
  position: fixed;
  z-index: 800;
  transition: all 0.3s ease;

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu-item {
    @extend .title-body;
    @extend .text-medium;
    margin-right: 49px;
    color: $black;
    transition: all 0.3s ease;
    &:hover {
      color: $primary;
    }
  }

  &__menu-links {
    justify-content: flex-end;
  }

  &__links,
  &__menu-links {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__link,
  &__btn {
    transition: all 0.3s ease;
  }

  &__link {
    width: 60px;
    @extend .link-sm;
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;

    &:hover {
      color: pink;
    }
  }

  &__button {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__btn {
    @extend .btn-sm;
    @extend .btn-border-primary;
    padding: 5px 16px;
    line-height: 17px !important;
    margin-right: 16px;

    &:hover {
      color: $white;
      background-color: $primary;
    }
  }

  &__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    visibility: hidden;
    font-size: 32px;
    transition: all 0.3s ease;

    &:hover {
      color: $primary;
    }
  }

  a {
    text-decoration: none;
  }
}

//////////////////////////////////////////////////////////
@media only screen and (max-width: 1200px) {
  .horizontal-menu-one {
    &__menu-links {
      justify-content: center;
    }
    .menu-item {
      margin-right: 35px;
    }
  }

  .horizontal-menu-two {
    &__menu-item {
      margin-right: 22px;
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .horizontal-menu-one {
    .menu-item {
      display: none;
    }
    &__menu-icons {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    &__menu-icon {
      &:last-child {
        display: inline-block;
      }
    }
  }

  .horizontal-menu-two {
    &__menu-item {
      display: none;
    }
    &__menu-icon {
      visibility: visible;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .horizontal-menu-one {
    &__logo {
      justify-content: flex-start;
    }
    &__menu-icons {
      justify-content: center;
    }
  }

  .horizontal-menu-two {
    &__logo {
      justify-content: flex-start;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .horizontal-menu-one {
    &__menu-links {
      justify-content: center;
    }
    .menu-item {
      margin-right: 15px;
      &:last-child {
        margin: 0;
      }
    }
    &__menu-icons {
      justify-content: center;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .horizontal-menu-one {
    &__menu-links {
      justify-content: center;
    }

    &__menu-icons {
      margin: 0;
    }
  }
}
