/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .horizontal-menu-one {
    .menu-item {
      margin: 0;
      &:last-child {
        margin: 0;
      }
    }
    &__menu-links {
      justify-content: center;
    }
    .menu-item {
      margin: 0 25px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .horizontal-menu-one {
    .menu-item {
      display: none;
    }
    &__menu-icons {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    &__menu-icon {
      &:last-child {
        display: inline-block;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .horizontal-menu-one {
    &__logo {
      justify-content: center;
    }
    &__menu-icons {
      justify-content: center;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .horizontal-menu-one {
    &__menu-links {
      justify-content: center;
    }
    .menu-item {
      margin-right: 15px;
      &:last-child {
        margin: 0;
      }
    }
    &__menu-icons {
      justify-content: center;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .horizontal-menu-one {
    &__menu-links {
      justify-content: center;
    }

    &__menu-icons {
      margin: 0;
    }
  }
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
