.page-not-found {
  padding: 5.96% 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__title {
    @extend .title-404;
    @extend .text-bold;
  }

  &__text {
    @extend .title-h5;
    margin: 32px 0 52px;
  }

  &__btn {
    @extend .btn-404;
    @extend .btn-primary;
  }

  &__img-wrap {
    padding-top: 115px;
    padding-left: 193px;
    display: inline-block;
  }
}

////////////////////////////////////////

.page-not-found-two {
  padding: 5.96% 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $secondary;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-wrap {
    margin-bottom: 52px;
  }

  &__title {
    @extend .title-h2;
    @extend .text-bold;
    margin-bottom: 16px;
  }

  &__text {
    @extend .title-h4;
    margin-bottom: 90px;
  }

  &__btn-home {
    @extend .btn-xl;
    @extend .btn-primary;
  }
}

///////////////////////////////////////

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .page-not-found {
    &__title,
    &__text {
      text-align: center;
    }

    &__btn-wrap {
      display: flex;
      justify-content: center;
    }

    &__img-wrap {
      display: none;
    }
  }

  .page-not-found-two {
    &__title {
      font-size: 50px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .page-not-found-two {
    &__content {
      text-align: center;
    }

    &__text {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .page-not-found-two {
    &__img-wrap {
      display: none;
    }
  }
}

@media only screen and (max-width: 550px) {
  .page-not-found {
    &__title {
      font-size: 135px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .page-not-found {
    &__title {
      font-size: 130px;
    }

    &__btn {
      padding: 7px 20px;
    }
  }
}
