.pricing-one {
  padding: 8.83% 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 44px;
    height: 100%;
  }

  &__title {
    @extend .title-h2;
    @extend .text-bold;
  }

  &__text {
    @extend .title-h5;
    max-width: 564px;
    margin: 16px 0 37px;
  }

  &__btn-yearly {
    @extend .btn-primary;
    margin-left: 15px;

    &:hover {
      background-color: pink;
      color: $black;
    }
  }

  &__btn-monthly {
    @extend .btn-border-primary;
    padding: 0 25px;
    line-height: 44px;
    margin-left: 5px;
  }

  &__btn-yearly {
    transition: all 0.3s ease;
  }

  &__card {
    max-width: 445px;
    margin-left: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #3d3d3d;
    box-sizing: border-box;
    border-radius: 12px;
  }

  .card-primary {
    background-color: $primary;
    border: none;
    margin-left: 0;
    margin-right: auto;
    padding: 32px 0;
  }

  .color-white {
    color: $white;
    border-color: $white;
  }
  .btn-white {
    &:hover {
      color: $black;
      background-color: $white;
      border-color: $black;
    }
  }

  &__card-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 56px;
  }

  &__card-title {
    @extend .title-h1;
    @extend .text-bold;
  }

  &__card-subtitle {
    @extend .title-h4;
    @extend .text-medium;
    margin: 16px 0;
  }

  &__card-text {
    @extend .title-h5;
    text-align: center;
    max-width: 381px;
  }

  &__card-btn {
    @extend .btn-subscribe;
    padding: 0 25.41%;
  }
}

/////////////////////////////////////////

.pricing-two {
  padding: 100px 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &__navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    @extend .title-h2;
    @extend .text-bold;
    margin-bottom: 34px;
  }

  &__switch-content {
    min-width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 39px;
  }

  &__monthly {
    margin-right: 35px;
  }

  &__yearly {
    margin-left: 47px;
  }

  /* Rounded sliders */
  &__card {
    padding: 54px;
    border: 2px solid #3d3d3d;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 35px;
    max-width: 964px;
  }

  .margin-card {
    margin-bottom: 50px;
  }

  &__card-content {
    max-width: 424px;
  }

  &__card-title {
    @extend .title-h4;
    @extend .text-bold;
    margin-bottom: 16px;
  }

  &__card-text {
    @extend .title-h5;
  }

  &__card-order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card-price {
    @extend .title-h1;
    @extend .text-bold;
    margin-bottom: 24px;
  }

  &__card-btn {
    @extend .btn-subscribe;
    padding: 9px 30px 7px;
    line-height: 46px;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }

  .hover-white {
    &:hover {
      background-color: $white;
      color: $black;
      border-color: $black;
    }
  }

  &__card-btn,
  .hover-white {
    transition: all 0.3s ease;
  }

  .card-primary {
    border-color: $primary;
    background-color: $primary;
  }
  .color-white {
    color: $white;
    border-color: $white;
  }
}

/*==========  Desktop First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .pricing-one {
    &__card-content {
      margin-bottom: 30px;
    }

    &__card-btn {
      padding: 0 18.41%;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .pricing-one {
    &__title {
      font-size: 50px;
    }

    &__card,
    .card-primary {
      margin: 0 auto;
    }

    &__card {
      &.card-white {
        margin-bottom: 35px;
      }
    }
  }

  .pricing-two {
    &__switch-content {
      min-width: 0;
      max-width: 330px;
    }

    &__title {
      font-size: 50px;
    }

    &__card {
      flex-direction: column;
      text-align: center;
      margin-bottom: 30px;
      align-items: center;
    }

    &__card-content {
      margin-bottom: 35px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pricing-one {
    &__title {
      font-size: 35px;
    }
  }

  .pricing-two {
    &__title {
      font-size: 35px;
    }

    &__switch {
      justify-content: center;
    }

    &__yearly {
      margin-left: 40px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .pricing-one {
    padding: 120px 0;

    &__content {
      align-items: flex-start;
      text-align: left;
    }

    &__title {
      font-size: 30px;
      line-height: 45px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__btn-wrap {
      display: flex;
      flex-direction: column;
    }

    &__btn-yearly,
    &__btn-monthly {
      margin: 0;
    }

    &__btn-yearly {
      margin-bottom: 25px;
    }

    &__card-subtitle {
      font-size: 25px;
    }

    &__card-content {
      margin-bottom: 0;
    }

    &__card-btn {
      padding: 0 6%;
      line-height: 60px;
    }
  }

  .pricing-two {
    &__title {
      font-size: 30px;
    }
  }
}
