.team-one {
  padding: 100px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__title {
    @extend .title-h2;
    @extend .text-bold;
    margin-bottom: 12px;
  }

  &__text {
    @extend .title-h6;
    max-width: 573px;
    margin: 0 auto;
  }

  &__party-title {
    @extend .title-h4;
    @extend .text-medium;
  }

  &__party-text {
    @extend .title-h5;
  }

  &__team {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__party {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    margin-left: 2px;
    margin-right: 76px;
    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__party-title {
    margin-top: 16px;
  }

  &__party-text {
    margin-bottom: 8px;
  }

  &__icon-wrap {
    a {
      color: $black;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: $primary;
      }
      i {
        font-size: 40px;
        margin: 0 12px 0 0;
        &:last-child {
          margin: 0;
          margin-right: 10px;
        }
      }
    }
  }

  &__content {
    text-align: center;
    width: 100%;
    margin-bottom: 52px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .team-one {
    &__team {
      flex-direction: column;
      margin-top: 30px;
    }

    &__party {
      margin: 0 auto;
      margin-bottom: 50px;
      &:last-child {
        margin: 0 auto;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .team-one {
    &__content {
      padding: 5px;
      margin-bottom: 32px;
    }

    &__party {
      margin-bottom: 60px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
