$primary: #ff7171;
$secondary: #fff0ae;
$black: #3d3d3d;
$gray: #989898;
$light-gray: #f6f6f6;
$white: #ffffff;

// font-family
$main-font: "Inter";
//
// font-weight
$bold: bold;
$medium: 600;
$regular: normal;

// font-style
$italic: italic;
$normal: normal;

// font-size
$font-h1: $normal $regular 80px/81px $main-font;
$font-h2: $normal $regular 60px/70px $main-font;
$font-h3: $normal $regular 40px/48px $main-font;
$font-h4: $normal $regular 30px/44px $main-font;
$font-h5: $normal $regular 24px/38px $main-font;
$font-h6: $normal $regular 20px/34px $main-font;

// xs
$font-h1-xs: $normal $regular 35px/40px $main-font;
$font-h2-xs: $normal $regular 60px/70px $main-font;
$font-h3-xs: $normal $regular 40px/48px $main-font;
$font-h4-xs: $normal $regular 30px/44px $main-font;
$font-h5-xs: $normal $regular 17px/30px $main-font;
$font-h6-xs: $normal $regular 20px/34px $main-font;

// sm
$font-h1-sm: $normal $regular 40px/45px $main-font;
$font-h2-sm: $normal $regular 60px/70px $main-font;
$font-h3-sm: $normal $regular 40px/48px $main-font;
$font-h4-sm: $normal $regular 30px/44px $main-font;
$font-h5-sm: $normal $regular 17px/32px $main-font;
$font-h6-sm: $normal $regular 20px/34px $main-font;

// md
$font-h1-md: $normal $regular 60px/61px $main-font;
$font-h2-md: $normal $regular 60px/70px $main-font;
$font-h3-md: $normal $regular 40px/48px $main-font;
$font-h4-md: $normal $regular 30px/44px $main-font;
$font-h5-md: $normal $regular 20px/38px $main-font;
$font-h6-md: $normal $regular 20px/34px $main-font;

$font-body: $normal $regular 16px/28px $main-font;
$font-caption: $normal $regular 14px/24px $main-font;
$font-small: $normal $regular 12px/21px $main-font;
$font-tiny: $normal $regular 10px/16px $main-font;
$font-vertical-menu: $normal $regular 20px/42px $main-font;
$font-additional-text: $normal $regular 20px/21px $main-font;
$font-copyright: $normal $regular 12px/21px $main-font;

// border-width
$border-width-btn: 2px;

// height-link
$height-link-xs: 24px;
$height-link-sm: 32px;
$height-link-md: 48px;
$height-link-lg: 64px;
$height-link-xl: 80px;

// button
$font-btn-extra-large: $normal $bold 40px/70px $main-font;
$font-btn-large: $normal $bold 32px/64px $main-font;
$font-btn-medium: $normal $bold 24px/48px $main-font;
$font-btn-small: $normal $bold 16px/32px $main-font;
$font-btn-extra-small: $normal $bold 12px/24px $main-font;
$font-btn-vertical-menu: $normal $medium 14px/24px $main-font;
$font-btn-subscribe: $normal $regular 33px/68px $main-font;

// avatar-sm
$width-avatar-sm: 32px;
$height-avatar-sm: 32px;

// avatar-md
$width-avatar-md: 48px;
$height-avatar-md: 48px;

// avatar-lg
$width-avatar-lg: 64px;
$height-avatar-lg: 64px;
