$primary: #ff7171;
$secondary: #fff0ae;
$black: #3d3d3d;
$gray: #989898;
$light-gray: #f6f6f6;

// bold
$bold-h1: normal bold 80px/81px "Inter";
$bold-h2: normal bold 60px/70px "Inter";
$bold-h3: normal bold 40px/48px "Inter";
$bold-h4: normal bold 30px/44px "Inter";
$bold-h5: normal bold 24px/38px "Inter";
$bold-h6: normal bold 20px/34px "Inter";
$body-bold: normal bold 16px/28px "Inter";
$caption-bold: normal bold 14px/24px "Inter";
$small-bold: normal bold 12px/21px "Inter";
$tiny-bold: normal bold 10px/16px "Inter";

// medium
$medium-h1: normal 600 80px/81px "Inter";
$medium-h2: normal 600 60px/70px "Inter";
$medium-h3: normal 600 40px/48px "Inter";
$medium-h4: normal 600 30px/44px "Inter";
$medium-h5: normal 600 24px/38px "Inter";
$medium-h6: normal 600 20px/34px "Inter";
$body-medium: normal 600 16px/28px "Inter";
$caption-medium: normal 600 14px/24px "Inter";
$small-medium: normal 600 12px/21px "Inter";
$tiny-medium: normal 600 10px/16px "Inter";

// regular
$regular-h1: normal 80px/81px "Inter";
$regular-h2: normal 60px/70px "Inter";
$regular-h3: normal 40px/48px "Inter";
$regular-h4: normal 30px/44px "Inter";
$regular-h5: normal 24px/38px "Inter";
$regular-h6: normal 20px/34px "Inter";
$body-regular: normal 16px/28px "Inter";
$caption-regular: normal 14px/24px "Inter";
$small-regular: normal 12px/21px "Inter";
$tiny-regular: normal 10px/16px "Inter";

// button
$btn-80px: normal bold 40px/80px "Inter";
$btn-64px: normal bold 32px/46px "Inter";
$btn-48px: normal bold 24px/48px "Inter";
$btn-32px: normal bold 16px/21px "Inter";
$btn-24px: normal bold 12px/24px "Inter";
