@import "_vars";

.section-colors {
  &__color {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
  }
}
.color-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ball-color {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 24px;
}
.primary {
  background-color: $primary;
}
.secondary {
  background-color: $secondary;
}
.black {
  background-color: $black;
}
.gray {
  background-color: $gray;
}
.light {
  background-color: $light-gray;
}

.main-title {
  font: normal bold 72px/87px "Inter";
  letter-spacing: -0.8px;
  color: #515151;
  padding-top: 99px;
  margin-bottom: 75px;
}

.title-border {
  border-bottom: 4px solid #eeeeee;
  margin-bottom: 56px;
}

.color-title {
  font: normal 600 35px/42px "Inter";
  text-align: center;
  letter-spacing: -0.77875px;
  margin-bottom: 8px;
  color: $black;
}

.color-text {
  font: normal 24px/29px "Inter";
  text-align: center;
  letter-spacing: -0.77875px;

  color: $black;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 20px;
  }
}

.section-tapography {
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
  }
}

.bold {
  li {
    &:nth-child(1) {
      font: $bold-h1;
      letter-spacing: -1.78px;
      color: $black;
    }
    &:nth-child(2) {
      font: $bold-h2;
      letter-spacing: -1.34px;
      color: $black;
    }
    &:nth-child(3) {
      font: $bold-h3;
      letter-spacing: -0.89px;
      color: $black;
    }
    &:nth-child(4) {
      font: $bold-h4;
      letter-spacing: -0.64px;
      color: $black;
    }
    &:nth-child(5) {
      font: $bold-h5;
      letter-spacing: -0.47px;
      color: $black;
    }
    &:nth-child(6) {
      font: $bold-h6;
      letter-spacing: -0.33px;
      color: $black;
    }
    &:nth-child(7) {
      font: $body-bold;
      letter-spacing: -0.18px;
      color: $black;
    }
    &:nth-child(8) {
      font: $caption-bold;
      letter-spacing: -0.09px;
      color: $black;
    }
    &:nth-child(9) {
      font: $small-bold;
      letter-spacing: 0.01px;
      color: $black;
    }
    &:nth-child(10) {
      font: $tiny-bold;
      letter-spacing: 0.1px;
      color: $black;
    }
  }
}

.medium {
  li {
    &:nth-child(1) {
      font: $medium-h1;
      letter-spacing: -1.78px;
      color: $black;
    }
    &:nth-child(2) {
      font: $medium-h2;
      letter-spacing: -1.34px;
      color: $black;
    }
    &:nth-child(3) {
      font: $medium-h3;
      letter-spacing: -0.89px;
      color: $black;
    }
    &:nth-child(4) {
      font: $medium-h4;
      letter-spacing: -0.64px;
      color: $black;
    }
    &:nth-child(5) {
      font: $medium-h5;
      letter-spacing: -0.47px;
      color: $black;
    }
    &:nth-child(6) {
      font: $medium-h6;
      letter-spacing: -0.33px;
      color: $black;
    }
    &:nth-child(7) {
      font: $body-medium;
      letter-spacing: -0.18px;
      color: $black;
    }
    &:nth-child(8) {
      font: $caption-medium;
      letter-spacing: -0.09px;
      color: $black;
    }
    &:nth-child(9) {
      font: $small-medium;
      letter-spacing: 0.01px;
      color: $black;
    }
    &:nth-child(10) {
      font: $tiny-medium;
      letter-spacing: 0.1px;
      color: $black;
    }
  }
}

.regular {
  li {
    &:nth-child(1) {
      font: $regular-h1;
      letter-spacing: -1.78px;
      color: $black;
    }
    &:nth-child(2) {
      font: $regular-h2;
      letter-spacing: -1.34px;
      color: $black;
    }
    &:nth-child(3) {
      font: $regular-h3;
      letter-spacing: -0.89px;
      color: $black;
    }
    &:nth-child(4) {
      font: $regular-h4;
      letter-spacing: -0.64px;
      color: $black;
    }
    &:nth-child(5) {
      font: $regular-h5;
      letter-spacing: -0.47px;
      color: $black;
    }
    &:nth-child(6) {
      font: $regular-h6;
      letter-spacing: -0.33px;
      color: $black;
    }
    &:nth-child(7) {
      font: $body-regular;
      letter-spacing: -0.18px;
      color: $black;
    }
    &:nth-child(8) {
      font: $caption-regular;
      letter-spacing: -0.09px;
      color: $black;
    }
    &:nth-child(9) {
      font: $small-regular;
      letter-spacing: 0.01px;
      color: $black;
    }
    &:nth-child(10) {
      font: $tiny-regular;
      letter-spacing: 0.1px;
      color: $black;
    }
  }
}
.btn-title {
  font: normal 30px/36px "Inter";
}
.btn-value {
  p {
    display: inline;
    margin-right: 20px;
    &:nth-child(1) {
      font: $btn-80px;
      letter-spacing: -0.85px;
      color: $black;
    }
    &:nth-child(2) {
      font: $btn-64px;
      letter-spacing: -0.68px;
      color: $black;
    }
    &:nth-child(3) {
      font: $btn-48px;
      letter-spacing: -0.51px;
      color: $black;
    }
    &:nth-child(4) {
      font: $btn-32px;
      letter-spacing: -0.34px;
      color: $black;
    }
    &:nth-child(5) {
      font: $btn-24px;
      letter-spacing: -0.26px;
      color: $black;
    }
  }
}
